.root {

  .addButton {
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.12);
    transition: background-color 85ms ease-in, opacity 40ms ease-in, border-color 85ms ease-in;
    height: fit-content;

    &:hover {
      background-color: rgba(0, 0, 0, 0.24);
      border-color: rgba(0, 0, 0, 0.24);
    }
  }
}

.form {
  width: 272px;
  background: #dfe3e6;
  border-radius: 5px;
  padding: 8px;
}

.actions {
  display: flex;
  margin-top: 8px;
}

.textarea {
  border-radius: 3px;
  border: none;
  resize: none;
  outline: none;
  font-size: 15px;
  padding: 5px;
  overflow-y: hidden;
}